<div class="sidebar-header">
    <div class="logo clearfix">
        <a class="logo-text float-left" asp-controller="Home" asp-action="Index">
            <div class="logo-img"><img src="~/img/logo.png" class="brand-image img-circle elevation-3" alt="" style="width:12rem"></div>
        </a><a class="nav-toggle d-none d-lg-none d-xl-block" id="sidebarToggle" href="javascript:;"><i class="toggle-icon ft-toggle-right" data-toggle="expanded"></i></a><a class="nav-close d-block d-lg-block d-xl-none" id="sidebarClose" href="javascript:;"><i class="ft-x"></i></a>
    </div>
</div>